<div 
    class="card flex mobile:flex-col-reverse flex-row gap-[60px] mobile:gap-[20px] bg-[#121212] text-[#c4c4c4] rounded-[12px]"
>
    <div class="flex flex-col justify-between w-[400px] mobile:w-full mobile:p-[12px] p-[24px] gap-[16px]">
        <div class="w-full mobile:hidden font-gabarito text-md font-bold">cassette.</div>
        <div class="font-poppins flex flex-col pl-[16px] mobile:pl-0 gap-[8px]">
            <div class="text-3xl mobile:text-xl font-bold text-balance line-clamp-3">{{ songs[currSong].title }}</div>
            <div class="text-sm font-medium text-[#b3b3b3]">{{ songs[currSong].artists }}</div>
            <div class="progress-bar max-w-[200px] relative pt-[20px]">
                <div class="foreground absolute bg-[#c4c4c4] w-[50%] h-[4px] rounded-lg"></div>
                <div class="background bg-[#383838] h-[4px] w-full rounded-lg"></div>
            </div>
        </div>
        <div class="flex flex-col font-poppins w-full gap-[8px]">
            <div class="text-sm font-medium">{{ songs[currSong].owner }}</div>
            <div class="flex flex-row gap-[8px]">
                @for (genre of songs[currSong].genres; track $index) {
                    <div class="bg-[#383838] px-[8px] py-[2px] text-sm font-small rounded-xl">{{ genre }}</div>
                }
            </div>
        </div>
    </div>
    <div class="scroll-container flex flex-col">
        <div class="p-[24px] mobile:p-[12px] max-h-[400px] max-w-[400px]">
            <img [src]="songs[currSong].albumArt" alt="album art" class="object-contain rounded"/>
        </div>
    </div>
</div>
