@tailwind base;
@tailwind components;
@tailwind utilities;

.font-funnel {
    font-family: "Funnel Display", sans-serif;
}

.font-gabarito {
    font-family: "Gabarito", sans-serif;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}
